In [2]:
cd ../../../Datasets/190829_Kanshan_zjfx

F:\Codes\Datasets\190829_Kanshan_zjfx

In [3]:
import pymysql

In [4]:
class DB():
    def __init__(self, host='localhost', port=3306, db='', user='root', passwd='123456', charset='utf8'):
        self.conn = pymysql.connect(host=host, port=port, db=db, user=user, passwd=passwd, charset=charset)   
        self.cur = self.conn.cursor(cursor = pymysql.cursors.DictCursor)

    def __enter__(self): 
        return self.cur

    def __exit__(self, exc_type, exc_val, exc_tb):
        self.conn.commit()
        self.cur.close()
        self.conn.close()

In [5]:
print('file opening...')
f = open('answer_info_0926.txt', 'r')
f = f.readlines()
'ok'

file opening...

'ok'

In [8]:
from tqdm import tqdm

with DB(db='zhihu2019_dataset') as db:
    sql_base = """INSERT INTO answer_info_0926(回答ID, 问题ID, 作者ID,
         回答创建时间, 回答内容单字编码, 回答内容切词编码,
         回答是否被标为优秀回答, 回答是否被推荐, 回答是否被收入圆桌,
         回答是否包含图片, 回答是否包含视频, 回答的内容字数,
         回答收到的点赞数, 回答收到的取赞数, 回答收到的评论数,
         回答收藏数, 回答收到的感谢数, 回答收到的被举报数,
         回答收到的没有帮助数, 回答收到的反对数) 
         VALUES('%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', 
         '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s')"""
    with tqdm(total=len(f)) as pbar:
        for line in f:
            s = line.split('\t')
            sql = sql_base % (s[0], s[1], s[2], s[3], s[4],
                              s[5], s[6], s[7], s[8], s[9],
                              s[10], s[11], s[12], s[13], s[14],
                              s[15], s[16], s[17], s[18], s[19])
            db.execute(sql)
            pbar.update(1)

100%|██████████| 4513735/4513735 [09:41<00:00, 7763.51it/s]